<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="accuse">
	<resultMap id="accuseResultMap" type="accuse">
		<id column="ACCUSE_NO" property="accuseNo" />
		<result column="TARGET_MEMBER" property="targetMember" />
		<result column="TARGET_GROUP" property="targetGroup" />
		<result column="REPORTER" property="reporter" />
		<result column="CONTENT" property="content" />
		<result column="ACCUSE_DATE" property="accuseDate" />
		<result column="SEARCHING_KEY" property="searchingKey" />
	</resultMap>
	
	
	<select id="selectTargetListPaging" resultMap="accuseResultMap">
     SELECT * FROM
		(SELECT ROWNUM RNUM, PAGING.* 
		FROM(SELECT * FROM ACCUSE 	
		<if test='searchingKey != ""'> 
		<choose>
			<when test='opt eq "reporter"'>
			WHERE REPORTER like '%'||#{searchingKey}||'%' 
			</when>
			<when test='opt eq "content"'>
			WHERE CONTENT like '%'||#{searchingKey}||'%' 
			</when>
			<when test='opt eq "target"'>
			WHERE TARGET_MEMBER like '%'||#{searchingKey}||'%'  OR TARGET_GROUP like '%'||#{searchingKey}||'%'  
			</when>
		</choose>			
		</if>			
		ORDER BY ACCUSE_NO DESC) PAGING) 
		WHERE RNUM BETWEEN #{startRow} AND #{endRow}
		
   </select>  
 

	<select id="selectTMList" resultMap="accuseResultMap">
	 SELECT * FROM ACCUSE WHERE TARGET_MEMBER = #{id}
	 </select>
	  
	 <select id="selectTGList" resultMap="accuseResultMap">
	 SELECT * FROM ACCUSE WHERE TARGET_GROUP = #{id}
	  </select>
	  

	<delete id="deleteAccuse" parameterType="_int"> 
	DELETE FROM ACCUSE WHERE TARGET_MEMBER = #{id}
	</delete>
	  

	<!-- <select id="selectTargetListPaging" resultMap="accuseResultMap">  
		SELECT * FROM
		(SELECT ROWNUM RNUM, PAGING.* 
		FROM(SELECT * FROM ACCUSE WHERE TARGET_MEMBER like '%'||#{searchingKey}||'%' OR  TARGET_GROUP like %'||#{searchingKey}||'%' 
		ORDER BY ACCUSE_NO DESC) PAGING) 
		WHERE RNUM BETWEEN #{startRow} AND #{endRow}
	</select> -->
	
	<select id="selectAccuseListCnt" resultType="int"> 
		SELECT COUNT(*) FROM ACCUSE 
		<if test='searchingKey != ""'> 
		<choose>
			<when test='opt eq "reporter"'>
			WHERE REPORTER like '%'||#{searchingKey}||'%' 
			</when>
			<when test='opt eq "content"'>
			WHERE CONTENT like '%'||#{searchingKey}||'%' 
			</when>
			<when test='opt eq "target"'>
			WHERE TARGET_MEMBER like '%'||#{searchingKey}||'%'  OR TARGET_GROUP like '%'||#{searchingKey}||'%'  
			</when>
		</choose>			
		</if>			

	</select>
	
	
	  
</mapper>
