<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="grpMember">
	<resultMap type="grpMember" id="grpMemberResultMap">
		<id property="memberNo" column="MEMBER_NO" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="memberGradeName" column="MEMBER_GRADE_NAME" />
		<result property="postCount" column="POST_COUNT" />
		<result property="replyCount" column="REPLY_COUNT" />		
	</resultMap>



	<select id="grpMember" resultMap="grpMemberResultMap">
		SELECT M.MEMBER_NO, M.MEMBER_NAME, MG.MEMBER_GRADE_NAME,
		(SELECT COUNT(*) FROM POST WHERE MEMBER_NO = M.MEMBER_NO) POST_COUNT,
		(SELECT COUNT(*) FROM POST_REPLY WHERE MEMBER_NO = M.MEMBER_NO) REPLY_COUNT
		FROM MEMBER M
		JOIN GROUP_MEMBER GM ON(M.MEMBER_NO = GM.MEMBER_NO)
		JOIN MEMBER_GRADE MG ON(GM.MEMBER_GRADE_CODE = MG.MEMBER_GRADE_CODE)
		JOIN GROUPS G ON(G.GROUP_NO = GM.GROUP_NO)
		WHERE G.GROUP_NO =#{id}
	</select>


</mapper>

