<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	
	<resultMap type="member" id="memberResultMap">
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberPwd" column="MEMBER_PWD"/>
		<result property="memberAddress" column="MEMBER_ADDRESS"/>
		<result property="memberBirth" column="MEMBER_BIRTH"/>
		<result property="memberGender" column="MEMBER_GENDER"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
	</resultMap>
	
	<select id="selectOne" resultMap="memberResultMap" >
		SELECT * FROM MEMBER
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
</mapper>
