/* 모달 중앙위치 */
.login_modal {
	text-align: center;
}

@media screen and (min-width: 768px) {
	.login_modal:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 80%;
	}
}

.login_modal_dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	width: 400px;
}

/* 모달사이즈 */
.login_modal_header {
	border-bottom: none;
	padding-bottom: 0;
	padding-left: 30px;
	padding-right: 30px;
}

.login_modal_footer {
	border-top: none;
	padding-top: 0;
	padding-left: 30px;
	padding-right: 30px;
	text-align: left;
}

.login_modal_body {
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
}

.login_form_control {
	height: 48px;
	font-size: 14px;
	/* border:0 !important;
    border-bottom:1px solid #dddfe4 !important; */
}

/* 버튼css */
.btn_facebook {
	font-size: 15px;
	letter-spacing: 1px;
	text-align: center;
	background-color: #3b5998;
	color: #fff;
	padding: 15px;
	border-radius: 2px;
	box-shadow: 1px 1px 1px #ddd;
	cursor: pointer;
}
.btn_facebook:hover{
	background-color: #324b81;
}



.link_forgotPwd {
	float: right;
	cursor: pointer;
	color: #23527c !important;
	font-size: 0.9em;
}

.link_forgotPwd:hover {
	text-decoration: underline;
}

.btn_login {
	width: 100%;
	height: 51px;
	border-radius: 2px;
	font-size: 14px;
	background-color: #00bfff;
	color: white;
	font-weight: 400;
	border: 0;
	letter-spacing: 0;
	margin-top: 10px;
	font-size: 15px;
	cursor: pointer;
}

.btn_login:hover {
	  border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}


.btn_join {
	font-size: 14px;
	float: right;
	position: relative;
	bottom: 6px;
	border-color: #00bfff !important;
	color: #00bfff !important;
	background-color: #fff !important;
}

.btn_join:hover{
	color:#fff !important;
	background-color: #00bfff !important;
}

.letter_space_modal {
	letter-spacing: -1px;
	font-size: 0.9em;
	font-weight: bold;
}
