<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="search">
   <resultMap type="groups" id="groupsResultMap">
      <id property="groupNo" column="GROUP_NO"/>
      <result property="groupName" column="GROUP_NAME"/>
      <result property="groupMsg" column="GROUP_MSG"/>
      <result property="groupAddress" column="GROUP_ADDRESS"/>
      <result property="groupPicture" column="GROUP_PICTURE"/>
      <result property="groupGradeCode" column="GROUP_GRADE_CODE"/>
      <result property="groupStateCode" column="GROUP_STATE_CODE"/>
      <result property="maxMember" column="MAX_MEMBER"/>
      <result property="enrollDate" column="ENROLL_DATE"/>
      <result property="interestBigCode" column="INTEREST_BIG_CODE"/>
      <result property="interestSmallCode" column="INTEREST_SMALL_CODE"/>
      <result property="allowSignup" column="ALLOW_SIGNUP"/>
      <result property="minAge" column="MIN_AGE"/>
      <result property="maxAge" column="MAX_AGE"/>
      <result property="groupGender" column="GROUP_GENDER"/>
      <result property="openSetting" column="OPEN_SETTING"/>
   </resultMap>
   <select id="listCount" resultType="_int" parameterType="string">
      SELECT COUNT(*) FROM GROUPS WHERE GROUP_NAME LIKE '%'||#{keyword}||'%' AND GROUP_ADDRESS NOT LIKE '지역무관' AND OPEN_SETTING not like '%PRIVATE%'
   </select>
   
   <select id="selectList" resultMap="groupsResultMap" parameterType="string">
      SELECT GROUP_NO, GROUP_NAME, GROUP_PICTURE, GROUP_ADDRESS, GROUP_GRADE_CODE, MAX_MEMBER FROM GROUPS WHERE GROUP_NAME LIKE '%'||#{keyword}||'%' AND GROUP_ADDRESS NOT LIKE '지역무관' AND OPEN_SETTING not like '%PRIVATE%' ORDER BY ENROLL_DATE DESC
   </select>
   
   <select id="detailListCount" resultType="_int" parameterType="hashmap">
      SELECT COUNT(*) FROM GROUPS WHERE GROUP_NAME LIKE '%'||#{keyword}||'%' AND GROUP_ADDRESS LIKE '%'||#{place}||'%' AND OPEN_SETTING not like '%PRIVATE%'
      <if test='category != ""'>
      	AND INTEREST_BIG_CODE LIKE '%'||#{category}||'%'
      </if>
      <choose>
      	<when test='regardlessArea != ""'>
      		OR (GROUP_ADDRESS LIKE '%'||#{regardlessArea}||'%') AND INTEREST_BIG_CODE LIKE '%'||#{category}||'%' AND OPEN_SETTING not like '%PRIVATE%' 
      	</when>
      	<otherwise>
      		AND GROUP_ADDRESS NOT LIKE '지역무관'
      	</otherwise>
      </choose>
   </select>
   
   <select id="detailSelectList" resultMap="groupsResultMap" parameterType="hashmap">
      SELECT G.GROUP_NO, G.GROUP_NAME, G.GROUP_PICTURE, G.GROUP_ADDRESS, G.GROUP_GRADE_CODE, G.MAX_MEMBER,G.INTEREST_BIG_CODE, G.ENROLL_DATE, (SELECT COUNT(*) FROM GROUP_MEMBER WHERE GROUP_NO = G.GROUP_NO) MEMBERCNT, (SELECT COUNT(*) FROM POST WHERE GROUP_NO = G.GROUP_NO) POSTCNT
	      FROM GROUPS G
	        WHERE GROUP_NAME LIKE '%'||#{keyword}||'%' 
	          AND GROUP_ADDRESS LIKE '%'||#{place}||'%'
	          	AND OPEN_SETTING not like '%PRIVATE%' 
      			<if test='category != ""'>
		      		AND INTEREST_BIG_CODE LIKE '%'||#{category}||'%'
		        </if>
			    <choose>
			    	<when test='regardlessArea != ""'>
			    		OR (GROUP_ADDRESS LIKE '%'||#{regardlessArea}||'%') AND INTEREST_BIG_CODE LIKE '%'||#{category}||'%'
			    	</when>
			    	<otherwise>
			    		AND GROUP_ADDRESS NOT LIKE '지역무관'
			    	</otherwise>
			    </choose>
			    <choose>
			       <when test='sort == "memberSort"'>
			           ORDER BY MEMBERCNT DESC, G.ENROLL_DATE DESC, POSTCNT DESC
			       </when>
			       <when test='sort == "postSort"'>
			           ORDER BY POSTCNT DESC, G.ENROLL_DATE DESC, MEMBERCNT DESC
			       </when>
			       <otherwise>ORDER BY G.ENROLL_DATE DESC, MEMBERCNT DESC, POSTCNT DESC</otherwise>
			    </choose>
   </select>
   <select id="getAddressList" resultMap="groupsResultMap" parameterType="hashmap" resultType="Groups">
      SELECT G.GROUP_NO, G.GROUP_NAME, G.GROUP_PICTURE, G.GROUP_ADDRESS, G.GROUP_GRADE_CODE, G.MAX_MEMBER,G.INTEREST_BIG_CODE, G.ENROLL_DATE, (SELECT COUNT(*) FROM GROUP_MEMBER WHERE GROUP_NO = G.GROUP_NO) MEMBERCNT, (SELECT COUNT(*) FROM POST WHERE GROUP_NO = G.GROUP_NO) POSTCNT 
		  FROM GROUPS G 
		    WHERE GROUP_NAME LIKE '%'||#{keyword}||'%' 
		      AND GROUP_ADDRESS LIKE '%'||#{place}||'%' 
		        AND GROUP_ADDRESS NOT LIKE '지역무관'
		        	AND OPEN_SETTING not like '%PRIVATE%'
				      <if test='category != ""'>
				      	AND INTEREST_BIG_CODE LIKE '%'||#{category}||'%'
				      </if>
   </select>
</mapper>
   